<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>JD-test</title>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
	</head>
	<body id="body">
		
		
		<div class="click-a">
			<a id="add-goods" class="index-a" href="">添加商品</a>
			<a id="select-goods" class="index-a" href="">查找商品</a>
		</div>
		
		<div class="goods-list">
			<ul class="goods-module">
				<li>
					<div class="goods">
						<div class="image">
							<img src=""/>
						</div>
						<div class="goods-info">
							<span id="goods-title">
								title
							</span>
							<br />
							<span id="goods-price">
								price
							</span>
							<br />
							<span id="goods-detail">
								detail
							</span>
						</div>
					</div>
				</li>
			</ul>
		</div>
		
		
	</body>
</html>
