<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>sel-goods</title>
		<link rel="stylesheet" type="text/css" href="/static/css/sel_goods.css"/>
	</head>
	<body id="body">
		<div id="sel-way">
			按商品名称查询：
			<form class="sel-by-title" action="" method="post">
				<input type="text" name="title" id="title" placeholder="请输入商品名称"/>
				<input type="submit" value="查询"/>
			</form>
			按商品价格查询：
			<form class="sel-by-price" action="" method="post">
				<input type="text" name="min_price" id="min_price" placeholder="最低价格"/> ——
				<input type="text" name="max_price" id="max_price" placeholder="最高价格"/>
				<input type="submit" value="查询"/>
			</form>
		</div>
		<div class="goods-list">
			<ul class="goods-module">

			</ul>
		</div>

		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/jquery.form.min.js"></script>
		<script src="/static/js/goods_js/sel_goods.js"></script>
	</body>
</html>
